@using UserApp.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["BodyClass"] = "hold-transition login-page";
}

<div class="login-box">

    <div class="login-logo">
        <a href="#"><b>HelpDesk</b> App</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">

            <p class="login-box-msg">Change your password</p>

            <form asp-action="ChangePassword" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- EMAIL  -->
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" readonly />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <!-- NEW PASSWORD -->
                <div class="input-group mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <!-- CONFIRM PASSWORD -->
                <div class="input-group mb-3">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            Submit
                        </button>
                    </div>
                </div>

            </form>

            <p class="mt-3 mb-0 text-center">
                <a asp-controller="Account" asp-action="VerifyEmail">
                    Back
                </a>
            </p>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}